<%- include("partials/header") %>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Thanks for placing your Order!</h1>
    <p>നിങ്ങളുടെ  ഓർഡർ  കിട്ടിയിട്ടുണ്ട്.  സ്വീകരിച്ച  വിവരവും ഡെലിവറി  സമയവും അറിയിക്കും. അത്  OK ആണെങ്കിൽ പണം അടക്കുക. (ഡെലിവറി  സമയം പണമടച്ച സമയംമുതലാണ് ). Our Google Pay/ WhatsApp no -9495829823 / 9744131522.  You may always contact us directly at 9495829823 / 9744131522 for faster service.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Place another Order &raquo;</a></p>
  </div>
</div>
<%- include("partials/footer") %>
