<%- include("partials/header") %>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Thanks for placing your Order!</h1>
    <p>We have received your order. You will be receinving a confirmation to the number provided shortly.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Place another Order &raquo;</a></p>
  </div>
</div>
<%- include("partials/footer") %>
