<%- include("partials/header") %>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Welcome!</h1>
    <p>Delivering food from restaurents in chalakudy area to your house.</p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">Home &raquo;</a></p>
  </div>
</div>
<%- include("partials/footer") %>
